[user]
	name = ben.hu
	email = ben.hu@bioclinica.com
[http]
	sslcainfo = C:/Users/re438/git_certs/cert_WitsCA-Windows.crt
	sslVerify = false
[core]
	autocrlf = input
	excludesFile = C:\\Users\\re438\\.gitignore_global
[alias]
	cn    = commit --no-verify -m
	a     = !git add . && git reset -- ./.gitignore
	s     = status
