[includeIf "gitdir:~/project/personal/"]
    path = ~/project/personal/.gitconfig-personal

[includeIf "gitdir:~/project/work/"]
    path = ~/project/work/.gitconfig-work

[alias]
    a    = add .
    co   = checkout
    sw   = switch
    cn    = commit --no-verify -m
    edit  = config --global -e
    wip   = !git add --all && git commit -m WIP
    wip2  = !git add --all && git commit -m WIP && git push
    stash = stash --include-untracked
    saferPush = push push --force-with-lease
    bk                = switch -c backup
    tagLastest        = tag --sort=committerdate -l

[diff]
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = Kaleidoscope
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
  
[core]
    excludesfile = /Users/re4388/.gitignore_global

[pull]
    ff = only

